@use '../../../style/palette.module.scss';
@use '../../../style/spacing.module.scss';

.button {
  @extend .bg-primary, .py-sm, .px-lg;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  font-size: 14px;

  &:hover {
    @extend .bg-primary-hover;
  }

  &:active {
    @extend .bg-primary-active;
  }
}

.another {
  border-bottom-left-radius: 0;
}