// font weights
$thin: 100 !default;
$extralight: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semibold: 600 !default;
$bold: 700 !default;
$extrabold: 800 !default;
$black: 900 !default;

// font sizes
$x3sm: 0.5rem !default;
$x2sm: 0.625rem !default;
$xsm: 0.75rem !default;
$sm: 0.875rem !default;
$base: 1rem !default;
$lg: 1.125rem !default;
$xlg: 1.25rem !default;
$x2lg: 1.5rem !default;
$x3lg: 1.875rem !default;
