@use './spacing.module.scss';
@use './font.module.scss';

// Font Story

.rootContainer {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  @extend .mt-sm, .gap-x3lg;
  display: flex;
  align-items: center;
}

.title {
  @extend .font-semiBold, .text-xlg;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fontExample {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
}