$x3sm: 0.125rem !default;
$x2sm: 0.25rem !default;
$xsm: 0.5rem !default;
$sm: 0.75rem !default;
$base: 1rem !default;
$lg: 1.25rem !default;
$xlg: 1.5rem !default;
$x2lg: 1.75rem !default;
$x3lg: 2rem !default;
